#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.room-view canvas {
  image-rendering: pixelated;
  image-rendering: optimizespeed;
}